div.song-item {
    border-top: 1px solid #ffff; //$white;
    
    div.play-button {
      margin-top: 12px;
    }
   
    &:first-child {
      border-top: none;
    }
   
    &.playing {
      color: #fff; //$primary;
    }
  }